.timesheet-form form{
  display: flex;
  justify-content: space-between;

  #id{
    z-index: 9999;
  }
}

.total{
  margin: 1rem 0;
}

.MuiFormControl-root.MuiTextField-root.field {
  width: 100%;
}
