.timesheet-form form{
  display: flex;
  justify-content: space-between;

  .MuiFormControl-root,
  #id{
    flex: 0 0 40%
  }

  #id{
    z-index: 9999;
  }
}

.total{
  margin: 1rem 0;
}

.timesheet-form.admin{
  .MuiFormControl-root,
  #id{
    flex: 0 0 25%
  }
}
