.logtime-list .MuiTableCell-root{
    word-break: break-word;
    font-family: 'Poppins';

    .block {
        color: #fff;
    }

}

.MuiTable-root{
    th.MuiTableCell-root{
        background-color: #3c44b1;
        color:#fff;
    }

    div[class^="MUIDataTableHeadCell-sortAction"] {
        align-items: center;
    }

    div[class*="MUIDataTableHeadCell-sortActive"],
    .MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon{
        color: #8BC34A;
    }



    tr.active{
        background-color: #3b3e66;
        transition: background-color 0.3s linear;
        
        &:hover{
            // background-color: #ff4688fa;
            background-color: #3b3e66;
        }
    }
}

.MuiToolbar-regular .MuiTypography-h6{
    background-color: #fafafe;
    color: #3b3e66;
    font-weight: 600;
}

.MuiToolbar-regular {
    background-color: #fafafe;
}

.MuiButton-root.btn-operation{
    padding: 5px 7px;
    min-width: 20px;
}

.MuiButton-root.btn-operation--delete{
    margin-right: 5px;
}

.btn-operation .MuiButton-startIcon {
    margin-left: 0;
    margin-right: 0;
}
