@import '../../../TimeSheet/components/TimeSheetList/TimeSheetList.scss';

.account-list{
  
  .MuiTable-root{

    .MuiTableCell-root{
      word-break: break-word;
      font-family: 'Poppins';
    }
    
    th.MuiTableCell-root{
        background-color: #3c44b1;
        color:#fff;
    }
  }
  .MuiToolbar-regular .MuiTypography-h6{
    background-color: #fafafe;
    color: #3b3e66;
    font-weight: 600;
  }

  .MuiToolbar-regular {
      background-color: #fafafe;
  }
  
  .btn-operation .MuiButton-startIcon {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 959px){
  .account-list tbody td.MuiTableCell-root:first-child {
    background-color: #f48079;
    color: #fff;
    display: flex;

    p{
      font-size: 30px;
    }
  }
}
