.account-list{
  .MuiTableCell-root {
    word-break: break-word;
    font-family: 'Poppins';
  }

  .MuiTable-root{
    th.MuiTableCell-root{
      background-color: #3c44b1;
      color:#fff;
    }

    tr.active{
        background-color: #3b3e66;
        transition: background-color 0.3s linear;

        .MuiTableCell-root{
          color: #fff;
        }
        
        &:hover{
            // background-color: #ff4688fa;
            background-color: #3b3e66;
        }
    }
  }
}

.register-page-form{
  max-width: 730px;
  margin: 0 auto;

  .MuiTextField-root{
    margin-bottom: 1.5rem;
  }

  .MuiInputLabel-root {
    font-size: 22px;
    font-weight: 700;
  }

  legend.MuiFormLabel-root {
    font-size: 18px;
    font-weight: 700;
  }

  fieldset.MuiFormControl-root {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
  }

  legend {
    font-size: 22px;
  }

  .btn-back{
    margin-left: 1rem;
  }

  .checkbox{
    margin-bottom: 1.5rem;
    padding: 0 14px;

    &__title{
      display: block;
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 700;
    }

    &__desc{
      margin-right: 1rem;

      input{
        margin-right: 4px;
      }
    }
  }
}

@media (max-width: 480px){
  .register-page-form .btn-back {
    margin-left: 0;
    margin-top: 10px;
    display: block;
  } 
}
