@import '../../App.scss';

.page-head{
    padding: $padding;
    margin: 0 (-$padding);
    background-color: #FAFAFE;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

