.header {
  padding: 1rem 0;
  font-size: 1.25rem;

  &__title {
    font-weight: bold;
    display: flex;
  }

  &__link {
    color: #000;
    transition: all 0.25s ease-in-out 0s;

    &--active,
    &:hover {
      text-decoration: none;
      color: #007cc2;
    }

    &:not(:last-child) {
      margin-right: 15px;
  }
}

  &__logo{
    width:30px;
    height:30px;
    margin-left:10px;
  }
}
